{% extends 'basewen.html' %}
{% block content %}
  <table class="table" >
  <tr>
  <th>大学排名</th>
  <th>院校名称</th>
  <th>投档人数</th>
  <th>投档线</th>
  <th>投档位次</th>
  </tr>

<tr>
<td>{{specific_school_name.paiming}}</td>
<td>{{specific_school_name.name}}</td>
<td>{{specific_school_name.toudangrenshu}}</td>
<td>{{specific_school_name.toudangxian}}</td>
<td>{{specific_school_name.toudangmingci}}</td>
</tr>

</table>
<div class="img">
<img src="/static/{{specific_school_name.name}}.png" >
</div>
{% endblock %}